*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, nav
{
    font-family: 'Salsa', cursive;
}

.container
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    margin-bottom: 3%;
}

.content, .row
{
    padding-top: 5px;
    margin: 0;
}

.content2
{
    padding-top: 5px;
    margin: 0;
    width: 75%;
}

.imgCard
{
    width: 100%;
    height: 270px;
    object-fit: contain;
}

